body{
  background-color: #141414;
  color: white;
  
}

.body-before{
  height: 90vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.body-before > div{
  height: 90vh;
  width: 100%;
  scroll-snap-align : center;
}



.movie-app > .row{
  overflow-x : scroll;
  /* scroll-snap-type: x mandatory; */
  flex-wrap :wrap;
}

.image-container{
  position: relative;
  transition: transform 0.2s;
}

.image-container img{
  border-radius: 30px;
  /* scroll-snap-align: center; */
  max-width: 40vh;
}

.image-container:hover{
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity: 0.8;
  
}

.overlay{
  position: absolute;
  background-color: rgba(0,0,0,1);
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
}

.movie-app > .row::-webkit-scrollbar {
  display: none;
}

.card-text{
  font-size: small;
}


/* .movie-app::before{
 
} */



